[Unit]
Description = Yes Barcode System
After = graphical.target
Wants = graphical.target

[Service]
user = :UserName:

WorkingDirectory=:Path:/yesBarcodeSystem

Restart=always

Environment="DISPLAY=:0.0"
Environment="XAUTHORITY=/home/:UserName:/.Xauthority"

#ExecStartPre = /usr/bin/printenv
ExecStart=/usr/bin/python :Path:/yesBarcodeSystem/main.py %i

[Install]
WantedBy = graphical.target

